@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
--ice :#f0f8ff;
--color-primary:#4D41C0;
--text-gray:#4a4a4a;
--text-light-gray:#aaa;
--star-yellow:#FFBB34;

}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}


*{
 box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
 }

html, body {
  background-color:var(--ice);
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
}

nav h1{
 font-size: 24px;
 font-weight: 700;


}
nav a{
font-size: 12px;
font-weight: 400;

}



 header{background-color:var(--color-primary);
    color:white;
    height: 60px;
    display: flex;
    align-items: center; 
 }
a,a:hover{
    text-decoration: none;
    color:unset;

}


.dsmovie-contact-contaneir{
display: flex;
align-items: center;
}

.dsmovie-contact-contaneir img{
margin-right: 10px;

}

#dsmovie-card-list{
 padding: 40px 10px;


}


.dsmovie-card{
    width: 100%;

}

.dsmovie-card img{
    width: 100%;
    border-radius: 8px 8px 0 0;


}

.dsmovie-card-description{
   padding: 10px 20px 20px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
  background-color: white;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
  height: 190px;
}

.dsmovie-card-description h3{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;



}
.dsmovie-card-description-botton{
  display: flex;
  flex-direction: column;
  align-items: center;
 

}

.dsmovie-card-description-botton H4{
  font-size: 16px;
  font-weight: 700;
  color:var(--star-yellow);
    margin-top: 15px;
    margin-bottom: 5px; 

}




.dsmovie-card-description-botton img{
  width: 22px;

}

.dsmovie-card-description-botton p{
   font-size: 12px;
   font-weight: 400;
   color: var(--text-light-gray);
   margin-bottom: 10px;
   


}

.dsmovie-btn, .dsmovie-btn:hover{
  width: 180px;
  height: 40px;
  background-color: var(--color-primary);
  color: white;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 0;
  
}

.dsmovie-form-container{
  padding: 40px 0;
  max-width: 480px;
}

.dsmovie-Form-description{

  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 8px 8px;
  
}


.dsmovie-form{
  width: 100%;
  
}

.dsmovie-Form-description h3{
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
}


.dsmovie-form-group{
 margin-bottom: 20px;

}
.dsmovie-form-group label{
   font-size: 12px;
   color: var(--text-light-gray);


}

.dsmovie-form-btn-container{
  height: 100px;
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


}