@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
--ice :aliceblue;
--color-primary:#4D41C0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}


*{
 box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
 }

html, body {
  background-color:var(--ice);
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
}

nav h1{
 font-size: 24px;
 font-weight: 700;


}
nav a{
font-size: 12px;
font-weight: 400;

}



 header{background-color:var(--color-primary);
    color:white;
    height: 60px;
    display: flex;
    align-items: center; 
 }
a,a:hover{
    text-decoration: none;
    color:unset;

}


.dsmovie-contact-contaneir{
display: flex;
align-items: center;
}

.dsmovie-contact-contaneir img{
margin-right: 10px;

}